{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>

    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'><link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'home/dating.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% block title %}<title>TheHookUp</title>{% endblock %}
  </head>
  <style>
    body{
      background: rgb(36,0,10);
      background: linear-gradient(90deg, rgba(36,0,10,1) 9%, rgba(121,9,79,1) 100%, rgba(0,212,255,1) 100%);  
    }
  </style>
  <body>
    
    {% if user.is_authenticated %}
    <div id="frame" style="position: fixed;top: 0;">
      <div class="content">
        <div class="contact-profile">
          
            <a href="{% url 'home:profile-update' user.profile.id %}"><img class="rounded-circle" width="40" height="40" src="{{ user.profile.profile_picture.url }}"/></a>
            <p style="font-size: large; padding-right: 5px;">{{ user }}</p>
            <!-- <a href="{% url 'home:about' %}" class="btn btn-default btn-md">
              <span class="glyphicon glyphicon-question-sign"></span>
            </a> -->
            <div class="social-media" style="padding-right: 5px;">
            
      
              
              
              <div class="dropdown">
      
                <a href="{% url 'home:index' %}" class="btn btn-md">
                  <span class="glyphicon glyphicon-home"></span>
                </a>
                <a href="{% url 'textApp:index_textApp' %}" class="btn btn-default btn-md">
                  <span class="glyphicon glyphicon-comment"></span>
                </a>
        
                <button class="btn btn-default btn-md" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="glyphicon glyphicon-th-list"></span>
                </button>
      
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <ul class="navbar-nav col-sm-4">
      
                      <li class="dropdown-item"><a class="nav-link" href="{% url 'home:about' %}">About</a></li>
                      <li class="dropdown-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                      <li class="dropdown-item"><a class="nav-link" href="{% url 'home:register' %}">Register</a></li>
              
                  </ul>
                </div>
      
            </div>
          
            
          </div>
      </div>
      </div>
    </div>
    {% endif %}

    {% block body %}
    {% endblock %}

  </body>
</html>

