{% extends 'home/base.html' %}

{% block body %}

<div class="text-center">
    <form class="form-horizontal" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div style="margin: 10px;"><img style="max-width: 50%;height: auto;min-height: 220px;" class="rounded-circle" src="{{ user.profile.profile_picture.url }}"/></div>
        {% include 'home/form_template.html' %}
        <div class="container">
            <button style="margin: 5px;" type="submit" value="update" class="btn btn-default">Submit</button>
        </div>
    </form>
</div>

{% endblock %}
