{% extends 'home/base.html' %}

{% block body %}
<style>
    body{
        background: white;
    }
</style>

    <div class="text-center" style="margin-bottom: 60px;">
        <h1 style="margin-top: 80px;color: lightgrey;color: rgba(121,9,79,1);">Conversations:</h1>
    </div>
    {% if not threads %}
        <div style="padding: 120px;">
            <h2>You do not have any messages yet, <a href="{% url 'home:index' %}">click here</a> to discover new people!</h2>
        </div>
    {% else %}
        {% for thread in threads %}
            {% if user == thread.second %}
                <div class="text-center" style="margin-top: 15px;">
                    <div class="container" style="background-color: lightgrey; border-radius: 25px; padding-bottom: 10px; display: inline-block; width: 200px;padding-bottom: 10px;">
                        <div style="display: inline-block;padding-top: 10px;">
                            <a href="{% url 'textApp:chaturl' thread.first %}" style="color: rgba(121,9,79,1);font-size: large;">{{ thread.first }}
                                <span class="glyphicon glyphicon-comment"></span>
                            </a>       
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if user == thread.first %}
                <div class="text-center" style="margin-top: 15px;">
                    <div class="container" style="background-color: lightgrey; border-radius: 25px; padding-top: 10px; display: inline-block; max-width: 200px;padding-bottom: 10px;">
                    
                        <div style="display: inline-block;padding-top: 10px;">
                            <a href="{% url 'textApp:chaturl' thread.second %}">{{ thread.second }}
                                <span class="glyphicon glyphicon-comment"></span>
                            </a>       
                        </div>
                                
                        <!-- <p class="preview"></p>{{ person.Bio }}</p> -->
                        <!-- <div style="padding-top: 5px;"><p class="preview">hello there!</p></div> -->
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

{% endblock %}

