{% extends "home/base.html" %}
{% load static %}

{% block head %}
<script>
    function scrollBottom(){ 
        $(document).ready(function() { 
            
            $(document).scrollTop($(document).height()); 
            
        }); 
    }
    window.onload = scrollBottom;
</script>
{% endblock %}

{% block body %}
<style>
    body{
        background-color: white;
        z-index: -10;
    }
</style>

<div id="frame">
    <div class="content">
            <div class="messages" style="width: 100%;margin-bottom: 40px;background: white;">
                <ul id='chat-items'>
                    {% for chat in object.chatmessage_set.all %}
                    
                    {% if user == chat.user %}
                    <li class="sent" style="float: right;">
                        <p style="background: rgba(121,9,79,1);">{{ chat.message }}</p>
                    </li>
                    {% else %}
                    <li class="replies" style="float: left;">
                        
                        <p style="margin-left: 3px;">{{ chat.message }}</p>
                        <img src="{{ chat.user.profile.profile_picture.url }}" width="35" height="27"/>
                    </li>
                    {% endif %}
                    
                    {% endfor %}
                </ul>
            </div>
            <form id='form' method='POST' style="background-color: linear-gradient(90deg, rgba(36,0,10,1) 9%, rgba(121,9,79,1) 100%, rgba(0,212,255,1) 100%);padding-top: 30px;"> {% csrf_token %}
                <div class="message-input" style="padding-top: 5px;bottom: 0;position: fixed;">
                    <div class="wrap" style="padding-left: 5px;">
                        <input type="hidden" id="myUsername" value="{{ user.username }}">
                        {% for field in form %}
                            {{ field }}
                        {% endfor %}
                        <!-- <button><i class="fa fa-paperclip attachment" style="font-size:24px;"></i></button> -->

                        <button style="margin-right: 18px;margin-bottom: 6px;background: white;border-radius: 10px;" type="submit" >
                            <div style="color: rgba(121,9,79,1);">send</div>
                        </button>
                    </div>
                </div>
            </form>
                
    </div>
</div>

{% endblock %}

{% block script %}
<script src="{% static 'reconnecting-websocket.js' %}"></script>

<script>
// websocket scripts
var loc = window.location
var fromData = $("#form")
var msgInput = $("#id_message")
var me = $("#myUsername").val()
var wsStart = 'ws://'

if(loc.protocol == 'https:'){
    wsStart = 'wss://'
}

var endpoint = wsStart + loc.host + loc.pathname
var socket = new ReconnectingWebsocket(endpoint)

socket.onmessage = function(e){
    console.log("message", e)
    var chatDataMsg = JSON.parse(e.data)
    // chatHolder.append("<li>" + chatDataMsg.message + "via" + chatDataMsg.username + "/<li>")
}
socket.onopen = function(e){
    console.log("open", e)
    fromData.submit(function(event){
        event.preventDefault()
        var msgText = msgInput.val()
        

        var finalData = {
            'message': msgInput
        }
        socket.send(JSON.stringify(finalData))

        fromData[0].reset()
    })
}
socket.onerror = function(e){
    console.log("error", e)
}
socket.onclose = function(e){
    console.log("close", e)
}

</script>
{% endblock %}